.container{
  height: 100vh;
  width: 100vw;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.bar{
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #5CD2C5;
}

.bar img{
  width: 50%;
  height: 50%;
}

.card{
  width: 60%;
  height: 70%;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.card-body{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.title{
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 30px;
}

.subtitle{
  font-weight: 600;
  font-size: 25px;
  border-bottom: 1px solid #CDCDCD;
  padding: 30px 0 8px 0;
  margin-bottom: 28px;

}

#task-form{
  width: 90%;
  height: 100%;
}

select, input, option{
  font-size: 15px;
  color:  black;
  margin-top: 8px;
  box-sizing: border-box;
  padding: 8px;
}



.content{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.tasks{
  background-color: white;
  width: 90%;
  height: 50px;
  margin-bottom: 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 20px;

}

.tasks-values{
  height: 50%;
  overflow-x: hidden;
  overflow-y: auto;
}

.tasks-values::-webkit-scrollbar {
  width: 12px;
}

.tasks-values::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

.tasks-values::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

.tasks-values::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.task-container{
  width: 100%;
  display: flex; /* Usa Flexbox para alinear elementos */
  align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
  justify-content: space-between; /* Alinea los elementos con espacio entre ellos */

}

.delete-btn{
  border: none;
  font-size: 22px;
  cursor: pointer;
  width: 6%;
}

@media (max-width: 1200px) {
  .card {
      width: 80%;
  }
}


@media (max-width: 768px) {
  .card {
      width: 90%;
      margin-top: 40px;
  }
}


@media (max-width: 480px) {
  .card {
      width: 95%;
      margin-top: 20px;
  }
}
